:root {
  // MAIN
  --main-primary-color: #b00101;
  --main-primary-light-color: #4cabd8;
  --main-dark-color: #00571a;
  --main-darker-color: #004615;
  --main-light-color: #47c56c;
  --main-lighter-color: #b5f0c6;
  --transparent-primary-color-16: rgba(25, 110, 150, 0.12);

  // TEXT
  --text-primary-color: #1f2937;
  --text-light-primary-color: #212b36;
  --text-secondary-color: #6b7280;
  --text-light-secondary-color: #637381;
  --text-disable-color: #9ca3af;
  --text-light-primary-color: #212b36;

  --white-color: #ffffff;
  --black-color: #000;
  --black-700-color: #474545;
  --black-600-color: #1e0000;

  --border-color: #d0d5dd;
  --border-default-color: #e6e6e6;

  // RED

  --red-100-color: #af0000;

  // GRAY
  --gray-900-color: #101828;
  --gray-600-color: #727279;
  --gray-700-color: #344054;
  --gray-500-color: #667085;
  --gray-200-color: #eaecf0;
  --gray-654-color: #f6f5f4;
  --gray-300-color: #98a1b2;

  // GREY
  --grey-900-color: #222124;
  --grey-700-color: #5a5c60;
  --grey-600-color: #727279;
  --grey-500-color: #a1a0a3;
  --grey-100-color: #e6e6e6;
  --grey-25-color: #f6f6f6;

  // read
  --read-700-color: #f6f1f2;

  // green
  --color-green_1: #1ca710;

  // purple

  // --color-purple-1: #475466;
  --purple-900-color: #4c394f;
  --purple-700-color: #41394f;

  // DIVIDER
  --divider-modal-color: rgba(145, 158, 171, 0.24);
  --divider-color: rgba(145, 158, 171, 0.24);

  // BUTTON
  --primary-button-color: #af0000;

  // black

  --color-black-1: #0f1728;

  --banner-background-color: #630022;
  --input-search-banner-background-color: rgba(255, 255, 255, 0.88);
}
