.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.pb-0 {
  padding-bottom: 0 !important;
}
.pt-0 {
  padding-top: 0 !important;
}

// ===== MARGIN =====
.mb-0-25rem {
  margin-bottom: 0.25rem !important;
}
.mb-0-5rem {
  margin-bottom: 0.5rem !important;
}
.mb-0-625rem {
  margin-bottom: 0.625rem !important;
}

.mb-1rem {
  margin-bottom: 1rem !important;
}
.mb-1-5rem {
  margin-bottom: 1.5rem !important;
}
.mb-2rem {
  margin-bottom: 2rem !important;
}
.mb-2-5rem {
  margin-bottom: 2.5rem !important;
}
.mb-3rem {
  margin-bottom: 3rem !important;
}
.mb-4rem {
  margin-bottom: 4rem !important;
}

.mt-0-25rem {
  margin-top: 0.25rem !important;
}
.mt-0-5rem {
  margin-top: 0.5rem !important;
}
.mt-1rem {
  margin-top: 1rem !important;
}
.mt-1-5rem {
  margin-top: 1.5rem !important;
}
.mt-2rem {
  margin-top: 2rem !important;
}
.mt-2-5rem {
  margin-top: 2.5rem !important;
}
.mt-3rem {
  margin-top: 3rem !important;
}
.mt-3-5rem {
  margin-top: 3.5rem !important;
}

.ml-0-25rem {
  margin-left: 0.25rem !important;
}
.ml-0-5rem {
  margin-left: 0.5rem !important;
}
.ml-1rem {
  margin-left: 1rem !important;
}
.ml-1-5rem {
  margin-left: 1.5rem !important;
}
.ml-2rem {
  margin-left: 2rem !important;
}
.ml-2-5rem {
  margin-left: 2.5rem !important;
}
.ml-3rem {
  margin-left: 3rem !important;
}

.mr-0-25rem {
  margin-right: 0.25rem !important;
}
.mr-0-5rem {
  margin-right: 0.5rem !important;
}
.mr-1rem {
  margin-right: 1rem !important;
}
.mr-1-5rem {
  margin-right: 1.5rem !important;
}
.mr-2rem {
  margin-right: 2rem !important;
}
.mr-2-5rem {
  margin-right: 2.5rem !important;
}
.mr-3rem {
  margin-right: 3rem !important;
}

.m-0-25rem {
  margin: 0.25rem !important;
}
.m-0-5rem {
  margin: 0.5rem !important;
}
.m-1rem {
  margin: 1rem !important;
}
.m-1-5rem {
  margin: 1.5rem !important;
}
.m-2rem {
  margin: 2rem !important;
}
.m-2-5rem {
  margin: 2.5rem !important;
}
.m-3rem {
  margin: 3rem !important;
}

// ===== PADDING ====

.pb-0-25rem {
  padding-bottom: 0.25rem !important;
}
.pb-0-5rem {
  padding-bottom: 0.5rem !important;
}

.pb-1rem {
  padding-bottom: 1rem !important;
}
.pb-1-5rem {
  padding-bottom: 1.5rem !important;
}
.pb-2rem {
  padding-bottom: 2rem !important;
}
.pb-2-5rem {
  padding-bottom: 2.5rem !important;
}
.pb-3rem {
  padding-bottom: 3rem !important;
}
.pb-4rem {
  padding-bottom: 4rem !important;
}

.pt-0-25rem {
  padding-top: 0.25rem !important;
}
.pt-0-5rem {
  padding-top: 0.5rem !important;
}
.pt-1rem {
  padding-top: 1rem !important;
}
.pt-1-5rem {
  padding-top: 1.5rem !important;
}
.pt-2rem {
  padding-top: 2rem !important;
}
.pt-2-5rem {
  padding-top: 2.5rem !important;
}
.pt-3rem {
  padding-top: 3rem !important;
}
.pt-6rem {
  padding-top: 6rem !important;
}

.pl-0-25rem {
  padding-left: 0.25rem !important;
}
.pl-0-5rem {
  padding-left: 0.5rem !important;
}
.pl-1rem {
  padding-left: 1rem !important;
}
.pl-1-5rem {
  padding-left: 1.5rem !important;
}
.pl-2rem {
  padding-left: 2rem !important;
}
.pl-2-5rem {
  padding-left: 2.5rem !important;
}
.pl-3rem {
  padding-left: 3rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-0-25rem {
  padding-right: 0.25rem !important;
}
.pr-0-5rem {
  padding-right: 0.5rem !important;
}
.pr-1rem {
  padding-right: 1rem !important;
}
.pr-1-5rem {
  padding-right: 1.5rem !important;
}
.pr-2rem {
  padding-right: 2rem !important;
}
.pr-2-5rem {
  padding-right: 2.5rem !important;
}
.pr-3rem {
  padding-right: 3rem !important;
}

.p-0-25rem {
  padding: 0.25rem !important;
}
.p-0-5rem {
  padding: 0.5rem !important;
}
.p-1rem {
  padding: 1rem !important;
}
.p-1-5rem {
  padding: 1.5rem !important;
}
.p-1-25rem {
  padding: 1.25rem !important;
}
.p-2rem {
  padding: 2rem !important;
}
.p-2-5rem {
  padding: 2.5rem !important;
}
.p-3rem {
  padding: 3rem !important;
}
