.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #cfcfcf;
  border-radius: 24px;
  color: #344053;
  overflow: hidden;
  font-family: Inter;
  font-style: normal;
  background: #4c394f;
  padding: 0 32px 48px 32px;
  width: fit-content;
}

.tag {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #ececec;
}

.title {
  margin-top: 24px;
  color: #0f1728;
  font-size: 36px;
  font-weight: 500;
}

.new {
  display: flex;
  padding: 2px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  color: white
}

.label {
  margin-top: 32px;
  color: #0f1728;
  font-size: 18px;
  font-weight: 500;
}

.description {
  color: #eaecf0;
  font-size: 16px;
  font-weight: 400;
}

.projectRate {
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #0da100;
  color: #1ca710;
  font-weight: 600;
  font-size: 0.875rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
}

.blackDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
}

.greyDot {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #cfd4dc;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .contentTitle {
    color: #98a1b2;
    font-size: 14px;
    font-weight: 600;
  }

  .contentLabel {
    color: #eaecf0;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    gap: 8px;
  }
}

.reserved {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
